div.chatApp {
    padding: 1rem 5rem;
    background-color: var(--secondary);
    color: var(--teritary);
    font-size: 2.2rem;
    width: 120rem;
    div.heading {
        background-color: var(--teritary);
        color: var(--primary);
        text-transform: capitalize;
        padding: 1rem;
        margin-bottom: 1rem;
        font-size: 3rem;
        text-align: center;
        h1 {
            span.username {
                color: var(--secondary);
            }
        }
    }
    div.messages {
        height: 50rem;
        overflow-y: scroll;
        position: relative;
        background-color: var(--primary);
        padding: 1rem;
        transition: var(--transition);
        div.message {
            background-color: var(--teritary);
            padding: 1rem 3rem;
            margin: 1rem;
            text-align: left;
            width: 70%;
            margin-right: auto;
            margin-left: 0;
            color: var(--primary);
            &[self="true"] {
                margin-left: auto;
                margin-right: 0;
            }
            &[server="true"] {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                font-weight: bold;
                text-transform: uppercase;
            }
            div.meta {
                display: flex;
                div.user {
                    font-weight: bold;
                    margin-right: 0.5rem;
                }
                div.time {
                }
            }
            div.content {
            }
        }
    }
    div.sendMessage {
        form {
            height: 5rem;
            width: 100%;
            display: flex;
            margin-top: 1rem;
            justify-content: center;
            align-content: center;
            font-size: 2.2rem;
            input {
                padding: 1rem;
                font-size: 2.2rem;
                flex: 6;
            }
            button {
                background-color: var(--primary);
                color: var(--teritary);
                text-transform: uppercase;
                font-weight: bold;
                font-size: 2.2rem;
                flex: 1;
            }
        }
    }
}
div.online {
    transition: var(--transition);
    padding: 1rem 3rem;
    overflow-y: auto;
    position: absolute;
    height: 100%;
    left: auto;
    right: 0;
    bottom: 0;
    top: auto;
    background-color: var(--teritary);
    font-size: 2.2rem;
    color: var(--primary);
    &[hide="true"] {
        transform: translateY(calc(100% - 7rem));
        span.toogle {
            transform: scaleY(-1);
        }
    }
    &[hide="false"] {
        transform: translateY(0);
        span.toogle {
            transform: scaleY(1);
        }
    }
    p {
        text-transform: uppercase;
        span {
            font-weight: bold;
            position: relative;
            &::after {
                position: absolute;
                width: 1rem;
                height: 1rem;
                content: "";
                top: calc(50% - 0.5rem);
                margin-left: 0.5rem;
                border-radius: 50%;
                background-color: green;
            }
        }
    }
    span.toogle {
        width: 100%;
        text-align: center;
        font-size: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .users {
        width: 100%;
        position: relative;
        padding: 1rem;
        .user {
            margin-top: 1rem;
            background-color: var(--secondary);
            width: 100%;
            color: var(--primary);
            font-weight: bold;
            text-align: center;
            padding: 1rem;
        }
    }
}
